/* required file for gridstack to work */
@import "./gridstack.min.css";

html, body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.header {
  padding: 12px;
  font-weight: 500;
}

.subheader {
  padding: 12px;
  font-size: 10px;
}




.grid-stack-item-removing {
  opacity: 0.5;
}


.grid-stack-item-content-inner {
  height: 100%;
}

.category-tile {
  padding: 20px 14px;
  box-sizing: border-box;
  /* border-radius: 7px; */
}

.category-tile .title {
  font-weight: 800;
  font-size: 30px;
}
.category-tile .subtitle {
  font-weight: 600;
  font-size: 18px;
}



.category-maps {
  background-color: #ff9b31;
  border-color: #ff9b31;
}

.category-navigation {
  background-color: #3095ff;
  border-color: #3095ff;
}

.category-search {
  background-color: #ffd522;
  border-color: #ffd522;
}

.category-tilesets {
  background-color: #2fc078;
  border-color: #2fc078;
}

.category-vision {
  background-color: #7539d7;
  border-color: #7539d7;
}

.category-data {
  background-color: #8b96aa;
  border-color: #8b96aa;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.grid-stack>.grid-stack-item>.grid-stack-item-content {
  overflow: visible
}

/* card flip transition from https://www.w3schools.com/howto/howto_css_flip_card.asp */

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,  .flip-card:active .flip-card-inner{
  transform: rotateX(180deg);
}

/* Position the front and back side */

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


